@primary-color: #1677ff; // 全局主色

@commonBgColor: var(--common-bg-color); // 全局背景色
@commonTextColor: var(--common-text-color); // 全局文本色
@commonBorderColor: var(--common-border-color); // 全局边框色
@commonIconColor: var(--common-icon-color); // 全局图标色
@commonIconHoverColor: var(--common-icon-hover-color); // 全局图标 hover 色

:global {
  .is-dark {
    color: #fff;
    --common-bg-color: #000;
    --common-text-color: #fff;
    --common-border-color: #424242;
  }
  .is-light {
    --common-bg-color: #fff;
    --common-text-color: #000;
    --common-border-color: #d9d9d9;
  }
}
:root {
  --common-icon-color: #888;
  --common-icon-hover-color: #555;
}
