.app {
  display: flex;
  height: 100%;
  overflow: auto;

  .container {
    box-sizing: border-box;
    flex: 1;
  }
}

:global {
  .is-dark {
    color: #fff;
    --common-bg-color: #000;
    --common-text-color: #fff;
  }
  .is-light {
    --common-bg-color: #fff;
    --common-text-color: #000;
  }
}
