.chat {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .content {
    flex: 1;
    overflow: auto;
  }
  .footer {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
