.app-chat-list {
  .chat-item {
    position: relative;
    .assistant,
    .user {
      display: inline-block;
      margin-bottom: 12px;
      border-radius: 8px;
      padding: 12px;
    }
    .assistant {
      background: #eee;
    }
    .user {
      background: #ddd;
    }
  }
}
